html {
	height 					: 100%;
	width 					: 100%;
}

body {

	height 					: 100%;
	width 					: 100%;
	margin 					: 0;
	padding 				: 0;
}

div.main {
	align-content		: stretch; 
	align-items			: stretch;
	display					: flex;
	flex-direction	: row;
	justify-content	: flex-start;
	height 					: 100%;
	width 					: 100%;
}

/** Device listing */
div.devices {
	border-right 		: 1px solid #ccc;
	width 					: 180px;
}

/** The right/main pane that contains a a header, main content area and footer */
div.rightStack {
	align-items			: stretch; 
	align-content		: stretch; 
	display 				: flex;
	flex-direction	: column;		
	justify-content	: flex-start;
	overflow 				: hidden;
	height 					: 100%;
	width 					: 100%;
}

/** Expands the "content" are whilst allowing the actual items to wrap and grow normally */
div.contentItemsContainer {
	background-color: #eee;
	flex 						: 1;		
	overflow-x			: hidden;
	overflow-y 			: auto;
}

/* Container for individual content items (think folder listing ) */
div.contentItems {
	display					: flex;
	flex-direction	: row;
	flex-wrap				: wrap;
	width 					: 100%;
}

/* Individual folder item */
div.contentItem {
	background-color: white;
	border 					: 1px solid silver;
	border-radius 	: 3px;
	box-shadow 			: 0 0 0.6em #ccc;
	width 					: 64px;
	height 					: 64px;
	margin 					: 8px;
	padding 				: 4px;
	cursor 					: pointer;
}

/* Individual folder item */
div.contentItem:hover {
	box-shadow 			: 0 0 0.6em blue;
}

